* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Secular One', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background: hsl(233deg 12% 13%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 150px;
  font-size: 64px;
}

#etch-a-sketch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 550px;
  width: 150px;
  background-color: hsl(0, 0%, 22%);
  border: 1px solid hsl(0, 0%, 44%);
  border-right: 0;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -7px 7px 39px 0px rgba(0, 0, 0, 0.62);
}

.slider-container {
  text-align: center;
}

button {
  border: white;
  border-radius: 50px;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
}

button:hover {
  scale: 0.99;
  box-shadow: 14px 15px 15px -13px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 14px 15px 15px -13px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 14px 15px 15px -13px rgba(0, 0, 0, 0.41);
}
.grid-button {
  background-color: hsl(271, 100%, 50%);
}

.grid-button:hover {
  background-color: hsl(271, 100%, 42%);
}

.clearAll-button {
  background-color: hsl(0, 100%, 50%);
}

.clearAll-button:hover {
  background-color: hsl(0, 100%, 45%);
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.color-picker input[type='radio'] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
}

#custom-color {
  border: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
}

#custom-color::-webkit-color-swatch {
  outline: 2px solid rgb(194, 194, 194);
  outline-offset: 3px;
  border: none;
}

.color-picker input[type='radio']#eraser {
  --radio-color: rgb(255, 197, 197);
}

.color-picker input[type='radio']#rainbow {
  --radio-color: #732982;
}

.color-picker input[type='radio']:checked {
  background-color: var(--radio-color);
}

.color-picker input[type='radio']#rainbow:checked {
  background: linear-gradient(
    #e40303,
    #ff8c00,
    #ffed00,
    #008026,
    #24408e,
    #732982
  );
}

.show-grid {
  border: 1px solid rgba(128, 128, 128, 50%);
}
